<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>INTEREST</title>
  
</head>
<body>
	<div class="container"> 
	<h1>Take You Test !</h1>
	<form method = "POST">
		<table class="table">
			<thead>
				<tr>
					<th>I Like To</th>
					<th>True</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Do puzzles</td>
					<td><input type="checkbox" name="I" value="1"></td>
					
				</tr>
				<tr>
				<tr>
					<td>Work on cars</td>
					<td><input type="checkbox" name="R" value="1"></td>
				</tr>
				<tr>
					<td>Express myself in interesting ways</td>
					<td><input type="checkbox" name="A" value="1"></td>
				</tr>
				<tr>
					<td>Work in teams</td>
					<td><input type="checkbox" name="S" value="1"></td>
				</tr>
				<tr>
					<td>Organize things like files, offices or activities</td>
					<td><input type="checkbox" name="C" value="1"></td>
				</tr>
				<tr>
					<td>Set goals for myself</td>
					<td><input type="checkbox" name="E" value="1"></td>
				</tr>
				<tr>
					<td>Build things</td>
					<td><input type="checkbox" name="R" value="1"></td>
				</tr>
				<tr>
					<td>Read about art or music</td>
					<td><input type="checkbox" name="A" value="1"></td>
				</tr>
				<tr>
					<td>Have clear instructions to follow</td>
					<td><input type="checkbox" name="C" value="1"></td>
				</tr>
				<tr>
					<td>Influence or persuade people</td>
					<td><input type="checkbox" name="E" value="1"></td>
				</tr>
				<tr>
					<td>Do experiments</td>
					<td><input type="checkbox" name="I" value="1"></td>
				</tr>
				<tr>
					<td>Teach or train people</td>
					<td><input type="checkbox" name="S" value="1"></td>
				</tr>
				<tr>
					<td>Have people solve their own problems</td>
					<td><input type="checkbox" name="S" value="1"></td>
				</tr>
				<tr>
					<td>Take care of animals</td>
					<td><input type="checkbox" name="R" value="1"></td>
				</tr>
				<tr>
					<td>Have my day structured</td>
					<td><input type="checkbox" name="C" value="1"></td>
				</tr>
				<tr>
					<td>Sell things</td>
					<td><input type="checkbox" name="E" value="1"></td>
				</tr>
				<tr>
					<td>Do creative writing</td>
					<td><input type="checkbox" name="A" value="1"></td>
				</tr>
				<tr>
					<td>Work on science majors</td>
					<td><input type="checkbox" name="I" value="1"></td>
				</tr>
				<tr>
					<td>Take on new responsibilities</td>
					<td><input type="checkbox" name="E" value="1"></td>
				</tr>
				<tr>
					<td>Heal people</td>
					<td><input type="checkbox" name="S" value="1"></td>
				</tr>
				<tr>
					<td>Figure out how things work</td>
					<td><input type="checkbox" name="I" value="1"></td>
				</tr>
				<tr>
					<td>Put things together or assemble models</td>
					<td><input type="checkbox" name="R" value="1"></td>
				</tr>
				<tr>
					<td>Be creative</td>
					<td><input type="checkbox" name="A" value="1"></td>
				</tr>
				<tr>
					<td>Pay attention to details</td>
					<td><input type="checkbox" name="C" value="1"></td>
				</tr>
				<tr>
					<td>Do filing or typing</td>
					<td><input type="checkbox" name="C" value="1"></td>
				</tr>
				<tr>
					<td>Learn about other cultures</td>
					<td><input type="checkbox" name="S" value="1"></td>
				</tr>
				<tr>
					<td>Analyze things like problems, situation or trends</td>
					<td><input type="checkbox" name="I" value="1"></td>
				</tr>
				<tr>
					<td>Play instruments or sing</td>
					<td><input type="checkbox" name="A" value="1"></td>
				</tr>
				<tr>
					<td>Dream about starting my own business</td>
					<td><input type="checkbox" name="E" value="1"></td>
				</tr>
				<tr>
					<td>Cook</td>
					<td><input type="checkbox" name="R" value="1"></td>
				</tr>
				<tr>
					<td>Act in plays</td>
					<td><input type="checkbox" name="A" value="1"></td>
				</tr>
				<tr>
					<td>Think things through before making decisions</td>
					<td><input type="checkbox" name="R" value="1"></td>
				</tr>
				<tr>
					<td>Work with numbers or charts</td>
					<td><input type="checkbox" name="I" value="1"></td>
				</tr>
				<tr>
					<td>Have discussions about issues like politics or current events</td>
					<td><input type="checkbox" name="S" value="1"></td>
				</tr>
				<tr>
					<td>Keep records of my work</td>
					<td><input type="checkbox" name="C" value="1"></td>
				</tr>
				<tr>
					<td>Be a leader</td>
					<td><input type="checkbox" name="E" value="1"></td>
				</tr>
				<tr>
					<td>Work outdoors</td>
					<td><input type="checkbox" name="R" value="1"></td>
				</tr>
					<td>Work in an office</td>
					<td><input type="checkbox" name="C" value="1"></td>
				</tr>
					<td>Work on math problems</td>
					<td><input type="checkbox" name="I" value="1"></td>
				</tr>
					<td>Draw</td>
					<td><input type="checkbox" name="A" value="1"></td>
				</tr>
					<td>Give speeches</td>
					<td><input type="checkbox" name="E" value="1"></td>
				</tr>
			</tbody>
		</table>
			<p><input type = "submit" value = "submit" /></p>
		</form>
	</div>
	
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
